Vehiculo $device.name ha entrado en la geocerca $geofence.name a las $dateTool.format("HH:mm:ss dd-MM-YYYY", $event.serverTime, $locale, $timezone)
Enlace: $webUrl?eventId=$event.id
Situacion: $position.address
Latitude/Longitude: $position.latitude -  $position.longitude